<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rdm -->
      <package
            uri="http://www.example.org/rdm"
            class="org.example.rdm.RdmPackage"
            genModel="model/rdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="rdm"
            class="org.example.rdm.util.RdmResourceFactoryImpl" />
   </extension>

</plugin>
